<div class="banner banner-dark banner-fixed-bottom" data-cookie-notice>
    <div class="wrap">
        <p class="centered">This site uses cookies. By continuing to use this site you're agreeing to <a href="http://www.coop.co.uk/cookies/">our cookie policy</a>. </p>
    </div>
</div>