<div class"row">
    <div class="column small-12 medium-6">
        <a href="#" class="tk-signpost">
            <h3 class="tk-signpost__title">{{ signpost1.title.text }}</h3>
        </a>
    </div>
    <div class="column small-12 medium-6">
        <a href="#" class="tk-signpost">
            <h3 class="tk-signpost__title">{{ signpost2.title.text }}</h3>
        </a>
    </div>
</div>
