<header class="header">
    <div class="wrap">
        <div class="row">
            <div class="column small-12 large-2">
                <a class="coop-logo pull-left margin-tq" aria-label="Homepage" href="/">
                    <img src="/images/logos/coop-logo.svg" alt="Co-op" onerror="this.onerror=null; this.src='/images/logos/coopX2.png'">
                </a>
            </div>
            <div class="column small-12 large-7">
                {{> @search }}
            </div>
            <div class="column small-12 large-3">
                <p class="pull-right padding-tq margin-x">
                    <a href="#">Sign in to my HR</a>
                </p>
            </div>
        </div>
    </div>
</header>
<main class="wrap">
    <div class="row">
        <div class="column small-12 medium-6">
            {{> @card-background }}
        </div>
        <div class="column small-12 medium-6">
            {{> @card-background }}
        </div>
    </div>
    {{> @card-group-heading }}
    <div class="row">
        <div class="column small-12 medium-4">
            {{> @signpost-paragraph }}
        </div>
        <div class="column small-12 medium-4">
            {{> @signpost-paragraph }}
        </div>
        <div class="column small-12 medium-4">
            {{> @signpost-paragraph }}
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
        <div class="column small-12 medium-6">
            {{> @signpost }}
        </div>
    </div>
</main>
